@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Source+Sans+Pro&display=swap');

*{
	box-sizing: border-box;
}

body{
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Poppins", sans-serif;
	margin: 0;
	min-height: 100vh;
	flex-direction: column;
	text-align: center;
	padding: 5rem;
	transition: background 0.3s linear, color 0.3s linear;
}


body.dark{
	background-color: #1f1f1f;
	color: whitesmoke;
}

.toggle-container{
	position: fixed;
	top: 10px;
	right: 10px;

}

label{
	background-color: black;
	border-radius: 50%;
	display: inline-block;
	width: 25px;
	height: 25px;
	user-select: none;
	cursor:  pointer;
	transition: background 0.3s linear;

}

body.dark label{
	background-color: white;
}

label.active{
	background-color: white;
}

input{
	visibility: hidden;
}